1.Write a program to reverse a string.

In [ ]:
name='rohan'
print(name[::-1])

nahor

2. Check if a string is a palindrome.

In [ ]:

name='naman'
if name== name[::-1]:
    print(name,' is palindrome')
else:
    print(name,' is not palindrome')

naman  is palindrome

    
3. Convert a string to uppercase.

In [ ]:

name='rohan'
print(name.upper())

ROHAN


4. Convert a string to lowercase.

In [ ]:



name='ROHAN'
print(name.lower())

rohan


5. Count the number of vowels in a string.

In [ ]:

vowels =['a','e','i','o','u']
name='rohan'
count=0
for i in name:
    if i in vowels:
        count+=1
print('There are',count,'vowels in',name)

There are 2 vowels in rohan


6. Count the number of consonants in a string.

In [ ]:

#6. Count the number of consonants in a string.
consonants=[]
vwls=[]
count=0
for i in name:
    if i in vowels:
        vwls.append(i)
    else:
        consonants.append(i)
        count+=1
print('There are', count,'consonants in',name)

There are 3 consonants in rohan


7. Remove all whitespaces from a string

In [ ]:

#7. Remove all whitespaces from a string.
name='r o h a n '
print(name.replace(" ",""))

rohan


8. Find the length of a string without using the `len()` function

In [ ]:

#8. Find the length of a string without using the `len()` function.
name='Hello my name is rohan'
count=0
for i in name:
    count+=1
print(count)

22


9. Check if a string contains a specific word.

In [ ]:

name='Hello i am rohan'
if 'rohan' in name:
    print('rohan is present in string')
else:
    print('rohan is not present')

rohan is present in string


10. Replace a word in a string with another word.

In [ ]:

#10. Replace a word in a string with another word.
name1='Hello i am rohan'
name1.replace('rohan','chatse')
print(name1)

Hello i am rohan


11. Count the occurrences of a word in a string.

In [ ]:

#11. Count the occurrences of a word in a string.
text='hello my name is rohan'
name.count("rohan")

1

12. Find the first occurrence of a word in a string.

In [ ]:

#12. Find the first occurrence of a word in a string.

string = "Hello my name is rohan i am a data scientist."

text = "rohan"

first_ocr = string.find(text)
print('The first occurrence of the word ',text,'at', first_ocr, 'position')

The first occurrence of the word  rohan at 17 position


13. Find the last occurrence of a word in a string.

In [ ]:

#13. Find the last occurrence of a word in a string.

string = "Hello my name is rohan, rohan chatse The name rohan is given by mother."


text = 'rohan'

# Find the last occurrence of the word
last_ocr= string.rfind(text)
print('The last occurrence of the ',text,'is at',last_ocr, 'position')

The last occurrence of the  rohan is at 46 position


14. Split a string into a list of words

In [3]:


#14. Split a string into a list of words.
name='rohan chatse'
l=[]
for i in name:
    l.append(i)
l.remove(' ')
print(l)

['r', 'o', 'h', 'a', 'n', 'c', 'h', 'a', 't', 's', 'e']

15. Join a list of words into a string

In [ ]:


#15. Join a list of words into a string.
l=['r','o','h','a','n']
name=""
for i in l:
    name+=i
print(name)

rohan


16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:


#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
text=' Hello my name is rohan'
print(text.replace(" ","_"))

_Hello_my_name_is_rohan

17. Check if a string starts with a specific word or phrase.

In [ ]:


#17. Check if a string starts with a specific word or phrase.

string="Hello my name is rohan"
l=string.split()


if l[0]=='Hello':
    print('String is valid')
else:
    print('String is not valid')

String is valid


18. Check if a string ends with a specific word or phrase

In [ ]:

#18. Check if a string ends with a specific word or phrase.

string="Hello my name is rohan"
l=string.split()

if l[-1]=='rohan':
    print('String is valid')
else:
    print('String is not valid')

String is valid


19. Convert a string to title case (e.g."hello world" to "Hello World").

In [ ]:

#19. Convert a string to title case (e.g., "hello world" to "Hello World").

string="hello world"
print(string.title())

Hello World

20. Find the longest word in a string.

In [4]:

#20. Find the longest word in a string.


string="Hi my name is rohan"
l=string.split()
length=[]
for i in l:
    length.append(len(i))

a=length.index(max(length))

print('The longest word in list is ',l[a])

The longest word in list is  rohan


21. Find the shortest word in a string.

In [5]:


#21. Find the shortest word in a string.

string="Hi my name is rohan"
l=string.split()
length=[]
for i in l:
    length.append(len(i))

a=length.index(min(length))

print('The shortest word in list is ',l[a])

The shortest word in list is  Hi

22. Reverse the order of words in a string.

In [6]:



#22. Reverse the order of words in a string.


string="Hello i am rohan"
l=string.split()
rstring=""
for i in reversed(l):
        rstring+=i+" "

print(rstring)

rohan am i Hello

23. Check if a string is alphanumeric.

In [7]:

#23. Check if a string is alphanumeric.

string='Hello my name is rohan and my age is 20'
alphanum='abcdefghijllmnopqrstuvwxyz0123456789'

yes=0
for i in string:
    if i in alphanum:
        yes*=0
    else:
        yes+=1

if yes==0:
    print('String is alpha numeric')
else:
    print('String is not alpha numeric')

String is alpha numeric


24. Extract all digits from a string.

In [8]:

#24. Extract all digits from a string.

string='Hello my name is rohan and my age is 20'
digit='0123456789'
extract_digit=[]
for i in string:
    if i in digit:
        extract_digit.append(int(i))
print(extract_digit)

[2, 0]


25. Extract all alphabets from a string.

In [9]:


#25. Extract all alphabets from a string.

string='Hello my name is rohan and my age is 20'
alphabet='abcdefghijllmnopqrstuvwxyz'
extract_alpha=[]
for i in string:
    if i in alphabet:
        extract_alpha.append(i)
print(list(set(extract_alpha)))

['r', 'n', 'm', 's', 'l', 'o', 'i', 'g', 'y', 'a', 'h', 'd', 'e']

26. Count the number of uppercase letters in a string.

In [10]:

#26. Count the number of uppercase letters in a string.

name='RoHan'
count_u=0
upper=[]
lower=[]

for i in name:
    if i.isupper():
        count_u+=1
        upper.append(i)
    else:
        lower.append(i)

print('There are', count_u, 'uppercase letter in a ',name,' which are',upper)
#print(str(lower))

There are 2 uppercase letter in a  RoHan  which are ['R', 'H']

27. Count the number of lowercase letters in a string.

In [ ]:

#27. Count the number of lowercase letters in a string.

name='RoHan'
count_l=0
lower=[]
upper=[]

for i in name:
    if i.islower():
        count_l+=1
        lower.append(i)
    else:
        upper.append(i)

print('There are', count_l, 'lowercase letter in a ',name,' which are',lower)
#print(str(lower))

There are 3 lowercase letter in a  RoHan  which are ['o', 'a', 'n']

28. Swap the case of each character in a string.

In [ ]:

#28. Swap the case of each character in a string.

string='Hello My Name is Rohan'

swapstr=""

for i in string:
    if i.islower():
        swapstr+=i.upper()
    elif i.isupper():
        swapstr+=i.lower()
    else:
        swapstr+=i
print(swapstr)

hELLO mY nAME IS rOHAN

31. Extract the username from an email address string.

In [ ]:


#31. Extract the username from an email address string.

email='rohancr@gmail.com'
usern=[]
for i in email:
    if i== '@':
        break
    else:
        usern.append(i)
username=''
for j in usern:
    username+=j

print(username)

rohancr

32. Extract the domain name from an email

In [ ]:

#32. Extract the domain name from an email address string.


email='rohan45cr@gmail.com'
pos=0
domain=""
for i in email:
    if i=='@':
        break
    else:
        pos+=1
domain+=email[pos+1::1]
print(domain)

gmail.com

33. Replace multiple spaces in a string

In [ ]:
#33. Replace multiple spaces in a string with a single space.

34. Check if a string is a valid URL.

In [ ]:

#34. Check if a string is a valid URL.

url="https://github.com/"

if 'https://' and '.com' or '.com/' in url:
    print('The given url is valid')
else:
    print('The given url is not valid')

The given url is valid

35. Extract the protocol (http or https)

In [ ]:
#35. Extract the protocol (http or https) from a URL string.


36. Find the frequency of each character in a string

In [ ]:

#36. Find the frequency of each character in a string.

count={}
name='rohhann'
for i in name:
    count[i]=name.count(i)
print(count)

{'r': 1, 'o': 1, 'h': 2, 'a': 1, 'n': 2}

37. Remove all punctuation from a string.

In [ ]:


#37. Remove all punctuation from a string.

string="Hello how can i help you ?"
punc='!"#$%&()*+,-./:;<=>?@[\]^_`{|}~'

str2=[]
string2=""
for i in string:
    if i in punc:
        continue
    else:
        str

for i in str2:
    string2+=i
print(string2)

38. Check if a string contains only digits.

In [ ]:


#38. Check if a string contains only digits.

string='roh57an'
num='0123456789'
yes=0

for i in num:
    if i in string:
        yes+=1

if yes==0:
    print('String do not have any number')
else:
    print('String have a number')

String have a number

39. Check if a string contains only alphabets

In [ ]:


#39. Check if a string contains only alphabets

string='roh57an'
num='0123456789'
yes=0

for i in num:
    if i in string:
        yes+=1

if yes==0:
    print('String do not have any number')
else:
    print('String have a number')

String have a number

40. Convert a string to a list of characters.

In [14]:


#40. Convert a string to a list of characters.

string='Hello i am rohan'
l=[]
for i in string:
    l.append(i)
print(l)

['H', 'e', 'l', 'l', 'o', 'i', ' ', 'a', 'm', ' ', 'r', 'o', 'h', 'a', 'n']

In [ ]:

#41. Check if two strings are anagrams.
#42. Encode a string using a Caesar cipher.
#43. Decode a Caesar cipher encoded string.
#44. Find the most frequent word in a string

44. Find the most frequent word in a string.

In [ ]:

string='hello i am rohan the name rohan is given by my mother'

a=string.split()
b=[]
for i in a:
    b.append(a.count(i))
max_value=max(b)

d={}

for i in a:
    d[i]=a.count(i)

for i in d.keys():
    if d.get(i)==max_value:
        print('The most frequent value in string is', i, 'with frequency of ',max_value)

The most frequent value in string is rohan with frequency of  2

45. Find all unique words in a string.

In [15]:

#45. Find all unique words in a string.

string='hello hello i am rohan'

l=string.split()
print(list(set(l)))

['i', 'rohan', 'am', 'hello']

46. Count the number of syllables in a string.

In [ ]:
#46. Count the number of syllables in a string.

47. Check if a string contains any special characters

In [16]:

#47. Check if a string contains any special characters.

string='roh@n'
char='@#₹_&-+()/*:!!?,.~|•√π÷×¶∆€¥$¢^°={}\%©®™✓[]<>'

yes=0
schar=''
for i in char:
    if i in string:
        yes+=1
        schar+=i

if yes==0:
    print('String do not have any special character')
else:
    print('String have a special character', schar)

String have a special character @

48. Remove the nth word from a string.

In [18]:

#48. Remove the nth word from a string.

string='hello my name is rohan'
str2=""
words=string.split()
choice=int(input('which word to remove enter position'))

words.remove(words[choice])
for i in words:
    str2+=i+' '
print(str2)

which word to remove enter position4
hello my name is


49. Insert a word at the nth position in a string.

In [19]:


#49. Insert a word at the nth position in a string.

string='Hello name is rohan'
str2=""
words = string.split()
print(string)
index_to_insert = int(input('enter position where to insert note indexing start with 0'))
string_to_insert = input('what to insert')
words.insert(index_to_insert, string_to_insert)

for i in words:
    str2+=i+" "
print(str2)

Hello name is rohan
enter position where to insert note indexing start with 01
what to insertmy
Hello my name is rohan

50. Convert a CSV string to a list of lists.

In [ ]:



#50. Convert a CSV string to a list of lists.

#List Based Practice Problem

1.create a list with integers from 1 to 10

In [20]:


#1. Create a list with integers from 1 to 10.

l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.Find the pength of a list without using the len() function.

In [21]:

#2. Find the length of a list without using the `len()` function.
l='hello world'
length=0
for i in l:
    length+=1
print(length)

11

3.Append an element to the wnd of a list.

In [22]:


#3. Append an element to the end of a list.
l=[1,2,3]
num=int(input('enter a number'))
l.append(num)
l

enter a number4

[1, 2, 3, 4]

4.Insert an element at a specific index in a list.

In [24]:


#4. Insert an element at a specific index in a list.

l=[1,2,3,4]
where=int(input('where to input number'))
what=int(input('what to input'))
l[where]=what
print(l)

where to input number3
what to input5
[1, 2, 3, 5]

5.Remove an element from a list by its value.

In [25]:

#5. Remove an element from a list by its value
l=[1,2,3,4]
what=1
l.remove(what)
l

[2, 3, 4]

6.Remove an element from a list by its index.

In [26]:


#6. Remove an element from a list by its index.
l=[1,2,3,4,5]
what=int(input('Enter index of what to remove'))
l.remove(l[what])
print(l)

Enter index of what to remove4
[1, 2, 3, 4]

7.check if an element exists in a list.

In [27]:

#7. Check if an element exists in a list.

l=[1,2,3,4]
what=int(input('enter what to check'))
if what in l:
    print(what, 'exist in list')
else:
    print(what,'doesnt exist in list')

enter what to check2
2 exist in list

8.Find the index of the first occurrence of an element in a list.

In [28]:


#8. Find the index of the first occurrence of an element in a list.

print(l.index(2))

1

9.Count the occurrence of an element in a list.

In [29]:


#9. Count the occurrences of an element in a list.
l=[1,2,2,2,3,4,5]
print(l.count(2))

3

10. Reverse the order of elements in a  list.

In [30]:


#10. Reverse the order of elements in a list.

l=[1,2,3,4]
list2=[]
for i in reversed(l):
    list2.append(i)

l=list2
print(l)

[4, 3, 2, 1]

11.Sort a list in ascending order.

In [31]:


#11. Sort a list in ascending order.

l = [5, 2, 9, 1, 5]

l.sort()

print(l)

[1, 2, 5, 5, 9]

12. Sort a list in descending order.

In [32]:

#12. Sort a list in descending order.


l= [5, 2, 9, 1, 5]

l.sort(reverse=True)

print(l)

[9, 5, 5, 2, 1]

12.Sort a list in ascending order.

In [33]:

#12. Sort a list in ascending order.


l = [5, 2, 9, 1, 5]

l.sort()

print(l)

[1, 2, 5, 5, 9]

14. Create a list of odd numbers from 1 to 20.

In [34]:

#14. Create a list of odd numbers from 1 to 20.

l=[]
for i in range(1,21,2):
    l.append(i)
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [35]:


#15. Find the sum of all elements in a list.


l=[1,2,3,4,5]
sum=0
for i in l:
    sum+=i
print(sum)

15

16.Find the maximum value in a list.

In [36]:

#16. Find the maximum value in a list.


print(max(l))

5

17. Find the minimum value in a list.

In [37]:


#17. Find the minimum value in a list.


print(min(l))

1

18. Create a list of squares of numbers grom 1 to 10.

In [38]:


#18. Create a list of squares of numbers from 1 to 10.

squares=[]

for i in range(1,11):
    squares.append(i**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19.Create a list of random numbers.

In [39]:

#19. Create a list of random numbers.

import random

l=[]
for i in  range(1,20):
    l.append( random.randint(1, 20))
print(list(set(l)))

[2, 3, 7, 8, 9, 12, 13, 14, 16, 17, 18]

20.Remove duplicates from a list.

In [41]:


#20. Remove duplicates from a list.
l=[1,2,2,3,4,5,4,6]
print(list(set(l)))

[1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists.

In [42]:

#21. Find the common elements between two lists.


l=[3,4,5,6,7]
list2=[1,2,3,4]
commons=[]
for i in l:
    if i in list2:
        commons.append(i)
print(commons)

[3, 4]

22. Find the difference between two lists.

In [ ]:


#22. Find the difference between two lists.

23.Merge two lists.

In [43]:

#23. Merge two lists.


list1=[1,2,3,4]
list2=[5,6,7,8]

print(list1+list2)

[1, 2, 3, 4, 5, 6, 7, 8]

24.Multiply all elements in a list by 2.

In [44]:


#24. Multiply all elements in a list by 2.


l=[1,2,3,4]
list2=[]
for i in l:
    list2.append(i*2)
l=list2
print(l)

[2, 4, 6, 8]

25. Filter out all even numbers from a list.

In [45]:

#25. Filter out all even numbers from a list.

l=[1,2,3,4,5,6,7,8]
evens=[]
for i in l:
    if i%2==0:
        evens.append(i)
evens

[2, 4, 6, 8]

26. Convert a list of strings to a list of integers.

In [46]:

#26. Convert a list of strings to a list of integers.


l=['1','2','3','4']
l2=[]
for i in l:
  l2.append(int(i))
l=l2
print(l)

[1, 2, 3, 4]

27.Convert a list of Integers to a list of strings.

In [48]:

#27. Convert a list of integers to a list of strings.


l=[1,2,3,4]
l2=[]
for i in l:
  l2.append(str(i))
l

[1, 2, 3, 4]

28.Flatten a nested list.

In [49]:


#28. Flatten a nested list.


l=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]

flatten=[]

for i in l:
    for j in i:
        flatten.append(j)
l=flatten

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:


#29. Create a list of the first 10 Fibonacci numbers.

30. Check if a list is sorted.

In [50]:


#30. Check if a list is sorted.


l=[1,2,3,4]

count=0
a=0
for i in l:
    if i> count:
        a+=1
        count+=i
    else:
        a*=0
if a!=0:
    print('List is sorted')
else:
    print('List is not sorted')

List is sorted

31. Rotate a list to the left by n positions.

In [51]:


#31. Rotate a list to the left by `n` positions.


l =[1,2,3,4]

n=int(input('enter a number'))
if n<=len(l):
    print(l[n:]+l[:n])
else:
    print('Enter number within 0 and 4')

enter a number2
[3, 4, 1, 2]

32. Rotate a list to the right by n positions.

In [54]:

#32. Rotate a list to the right by `n` positions.


l =[1,2,3,4]

n=int(input('enter a number'))
if n<=len(l):
    print(l[:n]+l[n:])
else:
    print('Enter number within 0 and 4')

enter a number2
[1, 2, 3, 4]

33.Create a list of prime numbers up to 50

In [ ]:


#33. Create a list of prime numbers up to 50.


#34. Split a list into chunks of size `n`.

35. Find the second largest number in a list.

In [55]:

#35. Find the second largest number in a list.

l =[1,2,3,4]

a=max(l)
l.remove(a)
b=max(l)
print('The second largest element in list is ',b)
l.append(a)

The second largest element in list is  3

36.Replace every element in a list with its square.

In [56]:


#36. Replace every element in a list with its square.


l =[1,2,3,4]
list2=[]
print('Before',l)
for i in l:
    list2.append(i**2)
l=list2
print('After',l)

Before [1, 2, 3, 4]
After [1, 4, 9, 16]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [57]:


#37. Convert a list to a dictionary where list elements become keys and their ndices become values.

l=['a','b','c','d','e']
d={}
for i in l:
    d[i]=l.index(i)

d

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

38. Shuffle the elements of a list randomly.

In [58]:


#38. Shuffle the elements of a list randomly.

import random

l = [1, 2, 3, 4, 5]
random.shuffle(l)

print(l)

[4, 1, 3, 5, 2]

39.Create a list of the first 10 factorial numbers.

In [ ]:


#39. Create a list of the first 10 factorial numbers.

l=[]

count=1

for i in range(1,11):
    for j in range(1,i):
        count*=j
    l.append(count)
    count=1
print(l)

40.Check if two lists have at least one element in common.

In [59]:

#40. Check if two lists have at least one element in common.

list1=[1,2,3,4]
list2=[3,4,5,6]

a=0
b=0
commons=[]
for i in list2:
    if i in list1:
        a+=1
        commons.append(i)
    else:
        b+=1
if a!=0 :
    print('There are some element ate common in list which are',commons)
else:
    print('There is no elements in common im list')

There are some element ate common in list which are [3, 4]

41.Remove all elements from a list.

In [60]:


#41. Remove all elements from a list.

l=[1,2,3,4,5]

for i in range(len(l)):
    l.pop()

print(l)

[]

42. Replace negative numbers in a list with 0

In [61]:


#42. Replace negative numbers in a list with 0.

l=[-4,-3,-2,-1,0,1,2,3,4]

for i in l:
    if i >0:
        l[i]=0
if l[0]<0:
    l[0]=0
print(l)

[0, 0, 0, 0, 0, 1, 2, 3, 4]

43.Convert a string into a list of words.

In [62]:

#43. Convert a string into a list of words.


l=[]
string='hello world'
for i in string:
    l.append(i)
print(l)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

44. Convert a list of words into a string.

In [63]:


#44. Convert a list of words into a string.


l=['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

string=""
for i in l:
    string+=i
print(string)

hello world

45.Create a list of the first n power of 2.

In [64]:


#45. Create a list of the first `n` powers of 2.


l=[]
n=int(input('Enter a number'))
for i in range(1,n+1):
    l.append(i**2)

print(l)

Enter a number10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46.Find the longest string in a list of strings.

In [65]:


#46. Find the longest string in a list of strings

strings=['hii','hiii','hiiii']
print(max(strings))

hiiii

47. Find the shortest string in a list of strings

In [66]:

#47. Find the shortest string in a list of strings

strings=['hii','hiii','hiiii']
print(min(strings))

hii

48. Create a list of the first n triangular numbers.

In [67]:


#48. Create a list of the first `n` triangular numbers.


l=[]
n=int(input('Enter a number'))

for i in range(1, n):
    l.append(i * (i + 1) // 2)

print('The first 10 tringular numbers are ',l)

Enter a number10
The first 10 tringular numbers are  [1, 3, 6, 10, 15, 21, 28, 36, 45]

49.Check if a list contains another list as a sequence.

In [68]:


#49. Check if a list contains another list as a subsequence.


l =[1,[2,3,4,5],6,7]
sublist=[2,3,4,5]

if sublist in l:
    print('Sublist is present')
else:
    print('Sublist not present')

Sublist is present

50.Swap two elements in a list by their indices.

In [69]:


#50. Swap two elements in a list by their indices.

l=[1,2,3,4]
print('Before',l)
a=l[0]

l[0]=l[3]
l[3]=a

print('After',l)

Before [1, 2, 3, 4]
After [4, 2, 3, 1]

#Tuple questions

1.Create a tuple with Integers from 1 to 5.

In [70]:

#1.Create a tuple with integers from 1 to 5.


tup=(1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [71]:

#2. Access the third element of a tuple.

print(tup[2])

3

3. Find the length of a tuple without len function.

In [72]:

#3. Find the length of a tuple without using the `len()` function.


tupe=(1,2,3,4,5)
len=0
for i in tupe:
    len+=1
print(len)

5

4. Count the occurrence of an element in a tuple.

In [73]:

#4. Count the occurrences of an element in a tuple.

print(tupe.count(2))

1

5.Fins the index of the first occurrence of an element in a tuple.

In [74]:

#5. Find the index of the first occurrence of an element in a tuple.


tup=(1,2,2,3,4,5)

count=0
n=int(input('enter a number'))
for i in tup:
    if i ==n:
        break
    else:
        count+=1
print('The', n ,'is at ',count,'position if index starts from zero')

enter a number2
The 2 is at  1 position if index starts from zero

6. Check if an element exists in a tuple.

In [75]:

#6. Check if an element exists in a tuple.


t=(1,2,3,4,5)
n=int(input('enter a number to check'))
if n in t:
    print('The element', n,'is in tuple')
else:
    print('The element', n,'is in tuple')

enter a number to check2
The element 2 is in tuple

7. Convert a tuple to a list.

In [76]:

#7. Convert a tuple to a list.


t=(1,2,3,42)
print(list(t))

[1, 2, 3, 42]

7.Convert a list to a tuple.

In [77]:

#8. Convert a list to a tuple.


l=[1,2,3,4,5]
print(tuple(l))

(1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [82]:

#9. Unpack the elements of a tuple into variables.

t= (1, 2, 3,4)
a, b, c, d = t
print(a,b,c,d)

1 2 3 4

10.Create a tuple if even number from 1 to 10.

In [83]:


#10. Create a tuple of even numbers from 1 to 10.

evens=(2,4,6,8,10)
evens

(2, 4, 6, 8, 10)

11.Create a tuple of odd numbers from 1 to 10

In [84]:

#11. Create a tuple of odd numbers from 1 to 10.

odd=(1,3,5,7,9)
odd

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [85]:

#12. Concatenate two tuples.


print(evens+odd)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times

In [86]:

#13. Repeat a tuple three times.


print(t*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [87]:

#14. Check if a tuple is empty.


t = ()

if not t:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is empty

15. Create a nested tuple.

In [88]:

#15. Create a nested tuple.


t=((1,2,3),(4,5,6),(7,8,9))
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

16. Access the first element of a nested tuple.

In [89]:

#16. Access the first element of a nested tuple.
t=((1,2,3),(4,5,6),(7,8,9))
print(t)

for i in t:
    for j in i:
        print('The fitst element of nested tuple is',j)
        break
    break

((1, 2, 3), (4, 5, 6), (7, 8, 9))
The fitst element of nested tuple is 1

17. Create a tuple with a single element.

In [90]:

#17. Create a tuple with a single element.


t=('element')
t

'element'

18.Compare two tuples.

In [91]:

#18. Compare two tuples.
tuple1=(1,2,3,4)
tuple2=(1,2,3,4)
if tuple1== tuple2:
    print('Both are same')
else:
    print('Both tuple are not same')

Both are same

19. Delete a tuple.

In [ ]:
#19. Delete a tuple.

20. Slice a tuple.

In [92]:

#20. Slice a tuple.
t=(1,2,3,4,5)
print(t[0:3])

(1, 2, 3)

21. Find the maximum value in a tuple.

In [93]:

#21. Find the maximum value in a tuple.


print(max(t))

5

22. Find the minimum value in a tuple.

In [94]:


#22. Find the minimum value in a tuple.


print(min(t))

1

22.Convert a string to a tuple of characters.

In [95]:


#23. Convert a string to a tuple of characters.


string='Hello'
l=[]
for i in string:
    l.append(i)

print(tuple(l))

('H', 'e', 'l', 'l', 'o')

24. Convert a tulle of characters to a string.

In [96]:

#24. Convert a tuple of characters to a string.


string=''
t=('s','r','a','c')
for i in t:
    string+=i
print(string)

srac

25. Create a tuple from multiple data types.

In [97]:


#25. Create a tuple from multiple data types.


t=(1,'string',True,3.142)
t

(1, 'string', True, 3.142)

26. Check if two tuples are identical

In [98]:


#26. Check if two tuples are identical.
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)

a=0
for i in tuple1:
   a+=1
b=0
for j in tuple2:
   b+=1

if a==b:
   print('Both tuple are identical')
else:
   print('Tuple are not identical')

Both tuple are identical

27. Sort the elements of a tuple.

In [99]:

#27. Sort the elements of a tuple.

t=(1,2,3,4)
print(sorted(t))

[1, 2, 3, 4]

28.Convert a tuple of integers to a tuple of strings.

In [100]:

#28. Convert a tuple of integers to a tuple of strings.


t=(1,2,3,4)
tuple2=str(t)
print(type(tuple2))

<class 'str'>

29. Convert a tuple of strings to a tuple of integers

In [101]:

#29. Convert a tuple of strings to a tuple of integers.
t=('1','2','3','4','5')
t2=[]
for i in t:
  t2.append(int(i))
t=tuple(t2)

t

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [102]:


#30. Merge two tuples.

tuple1=(1,2,3,4)
tuple2=(5,6,7,8)

print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6, 7, 8)

31. Flatten a nested tuple.

In [103]:

#31. Flatten a nested tuple.


tuple1=((1,2,3,4),(5,6,7,8),(9,10,11,12))

l=[]
for i in tuple1:
    for j in i:
        l.append(j)
print(tuple(l))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

32. Create a tuple of the first 5  prime numbers.

In [104]:

#32. Create a tuple of the first 5 prime numbers.


primes=(1,3,5,7,11)
primes

(1, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [105]:


#33. Check if a tuple is a palindrome.


tuple1=(1,2,3,2,1)

if tuple1[::-1]==tuple1[0::]:
    print('Tuple is palindrome')
else:
    print('Tuple is not palindrome')

Tuple is palindrome

34.Create a tuple of squares of numbers from 1 to 5.

In [106]:

#34. Create a tuple of squares of numbers from 1 to 5.

squares=(1,4,9,16,25)
squares

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [107]:

#35. Filter out all even numbers from a tuple.


t=(1,2,3,2,1,4,6,8)
l=[]
for i in t:
    if i%2==0:
        l.append(i)
tuple(set(l))

(8, 2, 4, 6)

36. Multiply all elements in a tuple by 2.

In [108]:


#36. Multiply all elements in a tuple by 2.

t=(2,4,6,8)
l=[]

for i in t:
    l.append(i*2)

print(l)

[4, 8, 12, 16]

37. Create a tuple of random numbers.

In [109]:


#37Create a tuple of random numbers.

import random
l=[]
for i in range(1,10):
   l.append(random.randint(1,20))
tuple(l)

(13, 17, 10, 5, 3, 8, 17, 18, 20)

38. Check if a tuple is sorted.

In [110]:

#38. Check if a tuple is sorted.

t=(1,2,3,4,5)
var=0
count=0
for i in t:
    if var<i:
        var=i
        count+=1
    else:
        count*=0

if count !=0:
    print('Tuple is sorted')
else:
    print('Tuple is not sorted')

Tuple is sorted

39. Rotate a tuple to the left by n position.

In [111]:

#39. Rotate a tuple to the left by `n` positions.

tuple1 =(1,2,3,4)

n=2
if n<=len(tuple1):
    print(list(tuple1[n:])+list(tuple1[:n]))
else:
    print('Enter number within 0 and 4')

TypeError: ignored

40. Rotate a tuple to the right by n positions.

In [113]:


#40. Rotate a tuple to the right by `n` positions.

tuple1 =(1,2,3,4)

n=int(input('enter a number'))
if n<=len(tuple1):
    print(tuple1[:n]+tuple1[n:])
else:
    print('Enter number within 0 and 4')

enter a number2

TypeError: ignored

41. Create a tuole of the first 5 Fibonacci numbers.

In [ ]:


#41. Create a tuple of the first 5 Fibonacci numbers.

42.Create a tuple from user input.

In [114]:

#42. Create a tuple from user input.


tuple1=[]

for i in range(5):
    n=int(input('enter a number'))
    tuple1.append(n)

print(tuple(tuple1))

enter a number10
enter a number1
enter a number2
enter a number3
enter a number4
(10, 1, 2, 3, 4)

43. Swap two elements in a tuple

In [115]:

#43. Swap two elements in a tuple.

tuple1 =(1,2,3,4)

a=list(tuple1)
print(a)
b=a[0]
a[0]=a[3]
a[3]=b

print('Tuple after swaping',tuple(a))

[1, 2, 3, 4]
Tuple after swaping (4, 2, 3, 1)

44. Reverse the elements of a tuple.

In [116]:

#44. Reverse the elements of a tuple.

t=(1,2,3,4)
print(t[::-1])

(4, 3, 2, 1)

45.Create a tuole of the first n power of 2.

In [117]:

#45. Create a tuple of the first `n` powers of 2.


tuple1=[]

n=int(input('enter a number'))
for i in range(1,n):
    tuple1.append(i**2)

print(tuple(tuple1))

enter a number10
(1, 4, 9, 16, 25, 36, 49, 64, 81)

46.Find the longest string in a tuple of strings.

In [118]:


#46. Find the longest string in a tuple of strings.


tuple1=('hii','hiii','hiiiiii')
print(max(tuple1))

hiiiiii

47. Find the shortest string in a tuple if strings.

In [119]:

#47. Find the shortest string in a tuple of strings.


tuple1=('hii','hiii','hiiiiii')
print(min(tuple1))

hii

48. Create a tuple of the first n triangular numbers.

In [120]:

#48. Create a tuple of the first `n` triangular numbers.


n=int(input('enter a number'))
tringular=0
l=[]

for i in range(1,n+1):
    l.append(tringular)
    tringular+=i
print('First', n ,'tringular numbers are', tuple(l))

enter a number4
First 4 tringular numbers are (0, 1, 3, 6)

49. Check if a tuple contains another tuple as a subsequence.

In [121]:

#49. Check if a tuple contains another tuple as a subsequence.

tuple1=(1,(2,3,4,5),6)
subtuple=(2,3,4,5)

if subtuple in tuple1:
    print('subtuple is present')
else:
    print('subtuple is not present')

subtuple is present

50. Create a tuple of alternating 1s and 0s of length n.

In [122]:


#50. Create a tuple of alternating 1s and 0s of length `n`.

tuple1=[]
len=int(input('enter a length'))

for i in range(len):
    if i%2==0:
        tuple1.append(0)
    else:
        tuple1.append(1)

print(tuple(tuple1))

enter a length10
(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)


#sets practice questions

1.Create a set with Integers from 1 to 5.

In [123]:

#1. Create a set with integers from 1 to 5.

sets={1,2,3,4,5}
print(sets)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [124]:

#2. Add an element to a set.

sets={1,2,3,4,5}

sets.add(6)
print(sets)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [125]:

#3. Remove an element from a set.

sets={1,2,3,4,5}
sets.remove(5)
print(sets)

{1, 2, 3, 4}

4. Check if an element exists in a set.

In [126]:

#4. Check if an element exists in a set.

sets={1,2,3,4,5}
n=int(input('Enter a number to check'))
if n in sets:
    print(n,' Is in set')
else:
    print(n, 'is not in set')

Enter a number to check4
4  Is in set

5. Find the length if a set without using the len() function.

In [127]:

#5. Find the length of a set without using the `len()` function.

sets={1,2,3,4,5}
len=0
for i in sets:
    len+=1
print('The length of set is ',len)

The length of set is  5

6. clear all elements from a set.

In [128]:


#6. Clear all elements from a set.

sets={1,2,3,4,5}

for i in list(sets):
    sets.pop()
print(sets)

set()

7. Create a set of even numbers from 1 to 10.

In [129]:

#7. Create a set of even numbers from 1 to 10

evens={2}

for i in range(1,11):
    if i %2==0:
        evens.add(i)
print(evens)

{2, 4, 6, 8, 10}

8.Create a set of odd numbers from 1 to 10.

In [130]:

#8. Create a set of odd numbers from 1 to 10.

odds={3}
for i in range(1,11):
    if i %2==0:
        pass
    else:
        odds.add(i)
print(odds)

{1, 3, 5, 7, 9}

9. Find the union if two sets.

In [131]:

#9. Find the union of two sets.

evens={2}
odds={3}
for i in range(1,11):
    if i %2==0:
        evens.add(i)
    else:
        odds.add(i)
unions=evens.union(odds)
print(unions)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [132]:


#10. Find the intersection of two sets.

set1={1,2,3,4,5}
set2={4,5,6,7,8}
intersec=set1.intersection(set2)
print(intersec)

{4, 5}

11.Find the difference between two sets.

In [133]:

#11. Find the difference between two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

differ= set1.difference(set2)

print(differ)

{1, 2, 3}

12. Check if a set is a subset of another set.

In [134]:

#12. Check if a set is a subset of another set.

set1={1,2,3,4,5}
set2={2,3,5}

count=0

for i in set2:
    if i in set1:
        count+=1
    else:
        count*=0
if count!=0:
    print(set2, 'is a subset of ', set1)
else:
    print(set2,' is not a subset of', set1)

{2, 3, 5} is a subset of  {1, 2, 3, 4, 5}

13. Check if a set is a superset of another set.

In [ ]:

#13. Check if a set is a superset of another set.

set1={1,2,3,4,5}
set2={2,3,5}

count=0

for i in set2:
    if i in set1:
        count+=1
    else:
        count*=0
if count!=0:
    print(set1, 'is a superset of ', set2)
else:
    print(set1,' is not a superset of', set2)

14. Create a set from a list.

In [135]:

#14. Create a set from a list.

l=[1,2,3,4]
a=set(l)
print(a)

{1, 2, 3, 4}

15. Convert a set to a list.

In [136]:

#15. Convert a set to a list.

s={1,2,3,4}
b=list(s)
print(b)

[1, 2, 3, 4]

16. Remove a random element from a set.

In [137]:

#16. Remove a random element from a set.

import random

sets={1,2,3,4}
a=random.choice(list(sets))

sets.remove(a)
print(a,'Removed from', sets)

2 Removed from {1, 3, 4}

17. Pop an element from a set.

In [ ]:
#17. Pop an element from a set.

18.Check if two sets have no elements in common.

In [138]:

#18. Check if two sets have no elements in common.

set1={1,2,3,4,5}
set2={6,7,8}
intersec=set1.intersection(set2)
print(intersec)

if intersec :
    print('Sets have elements in common')
else:
    print('Sets have no elements in common')

set()
Sets have no elements in common

19. Find the symmetric difference between two sets.

In [139]:

#19. Find the symmetric difference between two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symdiff = set1.symmetric_difference(set2)

print(symdiff)

{1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [140]:

#20. Update a set with elements from another set.

set1={1,2,3,4,5}
set2={6,7,8}

for i in set2:
    set1.add(i)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime  numbers.

In [ ]:

#21. Create a set of the first 5 prime numbers.

22. Check if two seta are identical.

In [141]:

#22. Check if two sets are identical.

if len(set1)==len(set2):
    print('Sets are identcal')
else:
    print('Sets are not identucal')

TypeError: ignored

23. Create a frozen set.

In [143]:

#23. Create a frozen set.

my_set = {1, 2, 3, 4, 5}
s = frozenset(my_set)
print(s)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [144]:

#24. Check if a set is disjoint with another set


set1 = {1, 2, 3}
set2 = {4, 5, 6}

disjoint = set1.isdisjoint(set2)

if disjoint:
    print("set1 and set2 are disjoint.")
else:
    print("set1 and set2 have some common elements.")

set1 and set2 are disjoint.

25. Create a set of squares of numbers from 1 to 5.

In [145]:

#25. Create a set of squares of numbers from 1 to 5.

sets={4}
for i in range(1,6):
    sets.add(i**2)
print(sets)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [146]:

#26. Filter out all even numbers from a set.

set1={1,2,3,4,5}
evens={2}
for i in set1:
    if i%2==0:
        evens.add(i)
print(evens)

{2, 4}

27. Multiply all elements in a set by 2.

In [147]:

#27. Multiply all elements in a set by 2.

set1={1,2,3,4,5}
set2={2}
for i in set1:
    set2.add(i*2)
set1=set2
print(set1)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [148]:

#28. Create a set of random numbers.

import random

sets={1}
for i in range(10):
    sets.add(random.randint(1,20))
print(sets)

{1, 3, 5, 9, 10, 11, 13, 18}

29. Check if a set is empty.

In [149]:

#29. Check if a set is empty.

s={1,2,3}
if s:
    print('Set is not empty')
else:
    print('Set is empty')

Set is not empty

30. Create a nested set

In [ ]:


#30. Create a nested set (hint: use frozenset).

In [ ]:

#31. Remove an element from a set using the discard method.

#32. Compare two sets.

33. Create a set from a string.

In [151]:

#33. Create a set from a string.

strings='hello'
l=[]

for i in strings:
    l.append(i)
s=set(l)

print(s)

{'l', 'o', 'h', 'e'}

34. Convert a sst of strings to a set of integers.

In [152]:

#34. Convert a set of strings to a set of integers.

strings={'1','2','3','4','5'}
l=[]
for i in strings:
    l.append(int(i))
strings=set(l)
print(strings)

{1, 2, 3, 4, 5}

35. Convert a sst of integers to a set of strings.

In [153]:


#35. Convert a set of integers to a set of strings.

strings={1,2,3,4,5}
l=[]
for i in strings:
    l.append(str(i))
integers=set(l)
print(integers)

{'3', '1', '2', '5', '4'}

36. Create a set from a tuple.

In [154]:

#36. Create a set from a tuple.

t=(1,2,3,4,5)
print(set(t))

{1, 2, 3, 4, 5}

36. Convert a set to a tuple.

In [155]:

#37. Convert a set to a tuple.

s=(1,2,3,4,5)

print(tuple(s))

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [156]:

#38. Find the maximum value in a set.

s={1,2,3,4,5}
print('Maximum value of set', s ,'is' ,max(s))

Maximum value of set {1, 2, 3, 4, 5} is 5

39. Find the minimum value in a set.

In [157]:

#39. Find the minimum value in a set.

s={1,2,3,4,5}
print('Minimun value of set', s, 'is', min(s))

Minimun value of set {1, 2, 3, 4, 5} is 1

40. Create a set from user input.

In [158]:

#40. Create a set from user input.

sets={0}

for i in range(1,6):
    n=int(input('Enter a number'))
    sets.add(n)
print(sets)

Enter a number2
Enter a number3
Enter a number2
Enter a number3
Enter a number4
{0, 2, 3, 4}

41. Check if the intersection of two sets is empty.

In [159]:

#41. Check if the intersection of two sets is empty.

set1={1,2,3,4,5}
set2={6,7,8}
intersec=set1.intersection(set2)


if intersec :
    print('Intersection of sets is not emptt')
else:
    print('Intersection of sets is empty')

Intersection of sets is empty

42. Create a swt of the first five Fibonacci numbers.

In [ ]:
#42. Create a set of the first 5 Fibonacci numbers.

43. Remove duplicates from a list using sets.

In [160]:

#43. Remove duplicates from a list using sets.

l=[1,2,2,3,4,5,5,6,2,5]
set(l)

{1, 2, 3, 4, 5, 6}

44. Check if two sets have the same elements , regardless if their count.

In [161]:

#44. Check if two sets have the same elements, regardless of their count.

set1={1,2,34}
set2={1,2,7,8}
commons=[]
for i in set2:
    if i in set1:
        commons.append(i)
if commons:
    print('The sets have some commons elements which are', commons)
else:
    print('There are no commons elements in sets')

The sets have some commons elements which are [1, 2]

45. Create a set of the first n power of 2.

In [162]:

#45. Create a set of the first `n` powers of 2.

squares=[]
n= int(input('Enter a number'))
for i in range(1,n+1):
    squares.append(i**2)
print(set(squares))

Enter a number10
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

46. Find the common elements between a set and a list.

In [164]:

#46. Find the common elements between a set and a list.

set1={1,2,3,4}
l=[3,4]
commons=[]
for i in l:
    if i in set1:
        commons.append(i)

if commons:
    print('The commons elements are',  commons)
else:
    print('There are no commons elenents')

The commons elements are [3, 4]

47.  Create a set of the first n triangular numbers.

In [ ]:
#47. Create a set of the first `n` triangular numbers.

48. Check if a set contains another set as a subset.

In [165]:

#48. Check if a set contains another set as a subset.

set1={1,2,3,4,5}
set2={2,3,4}

if set1.intersection(set2):
    print('Set2 is subset of set1')
else:
    print('Set2 is not subset of set1')

Set2 is subset of set1

49. Create a set if alternating 1s and 0s of length n.

In [ ]:

#49. Create a set of alternating 1s and 0s of length `n`.

#not possible

50. Merge multiple sets into one.

In [166]:

#50. Merge multiple sets into one.

set1={1,2,3,4}
set2={5,6,7,8}
set3={9,10,11,12}
set4={13,14,15,16}

universal =list(set1) + list(set2) + list(set3) + list(set4)

print(set(universal))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}