#Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in l:
  sum+=i
print(sum)

55

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
string='Hello World'
for i in string[::-1]:
  print(i)

d
l
r
o
W

o
l
l
e
H

4. Develop a program that finds the factorial of a given number using a `for` loop

In [ ]:
n=int(input('enter a number'))
fact=1
for i in range(1,n+1):
  fact*=i
print(fact)

enter a number4
24

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
n=2
for i in range(1,11):
   print(i*n)

2
4
6
8
10
12
14
16
18
20

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
l=[1,2,3,4,5,6,7,8,10]

even=[]
odd=[]
for i in l:
  if i %2==0:
     even.append(i)
  else:
     odd.append(i)

print ('There are',len(even),' even numbers and' ,len(odd),'odd numbers in a list')

There are 5  even numbers and 4 odd numbers in a list

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
string='Hello my name is rohan'
count=0

for i in string:
  count+=1

print(count)

22

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
l=[11,13,14,11]
sum=0
for i in l:
  sum+=i

print(sum/len(l))

12.25

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
a=0
b=1
num = int(input("Enter the value of n"))

if num <= 0:
    print("Please enter a positive integer.")
elif num == 1:
    print(a)
elif num >= 2:
    print(a, b, end=" ")
    for i in range(2, num):
        c = a + b
        print(c, end=" ")
        a, b = b, c

Enter the value of n10
0 1 1 2 3 5 8 13 21 34

#Intermediate Level

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
l=[1,2,3,4,5,5,5,6,6,7,8]

duplicate=[]
count=[]

for i in l:
  if i in count:
      duplicate.append(i)
  else:
      count.append(i)

if duplicate:
   print('There are duplicates in list')
else:
   print('There are no duplicates')

There are duplicates in list

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
from sympy import isprime

n=10
primes=[i for i in range(n+1) if isprime(i)]
primes

[2, 3, 5, 7]

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
string='rohan'
vowels='aeiou'
count=[]
for i in string:
  if i in vowels:
     count.append(i)
print('There are', len(count), 'in string which are', count)

There are 2 in string which are ['o', 'a']

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
l=[[1,2,3],[4,5,6],[7,8,9]]
l2=[]
for i in l:
  for j in i:
     l2.append(j)
print(max(l2))

9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
l=[1,2,3,4,5,3,6,3,6]
n=3
print('Before',l)
for i in l:
  if i==n:
    l.remove(i)
print('After',l)

Before [1, 2, 3, 4, 5, 3, 6, 3, 6]
After [1, 2, 4, 5, 6, 6]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
l=[[],[],[],[],[]]
for i in range(1,6):
   for j in range(1,11):
     l[i-1].append(i*j)
l

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:

temp_f = [75.2, 89.5, 62.7, 53.1, 98.0]
temp=[]
for i in temp_f:
   temp.append((i- 32) * 5//9)
print('Temprature in degree', temp)

Temprature in degree [24.0, 31.0, 17.0, 11.0, 36.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
l1=[1,2,3,4,5,6]
l2=[5,6,7,8,9]

common=[]
for i in l1:
 if i in l2:
   common.append(i)

print('The common elements are', common)

The common elements are [5, 6]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern

In [ ]:
for i in range(1,11):
   print(i*' *')

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:


num1 = 3
num2 = 4


smaller = min(num1, num2)

gcd_value = 1

for i in range(1, smaller + 1):
    if num1 % i == 0 and num2 % i == 0:
        gcd_value = i

print('GCD of', num1, 'and', num2, 'is', gcd_value)

GCD of 3 and 4 is 1

#Advanced level

21.Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [75]:
l=[11,12,145,1123]

def func(num):
  sum=0
  for i in str(num):
    sum+=int(i)
  return sum

sum=[func(i) for i in l]
print(sum)

[2, 3, 10, 7]

22.Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

23.Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [16]:
l1=[1,2,2,3,4,5,6]

l=[list(set(l1))]
print(l)

[[1, 2, 3, 4, 5, 6]]

24.Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension

In [12]:

def is_palindrome(num):
    num_str = str(num)
    return num_str == num_str[::-1]

l=[i for i in range(1,100) if is_palindrome(i) if len(str(i))==2]
print(l)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
l=[[1,2,3],[4,5,6],[7,8,9]]
flatten=[]
for i in l :
  for j in i:
    flatten.append(j)
flatten

[1, 2, 3, 4, 5, 6, 7, 8, 9]

26.Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [19]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd=[i for i in l if i%2!=0]
even = [i for i in l if i%2==0]

print(sum(even))
print(sum(odd))

30
25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
squares=[i**2 for i in range(1,11) if i %2==0]
squares

[4, 16, 36, 64, 100]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
l1 = [1, 2, 3, 4]
l2 = ['a', 'b', 'c', 'd']

d = {i: j for i, j in zip(l1, l2)}

print(d)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
vowels='aeiou'
string='rohan'

l=[i for i in string if i in vowels]
l

['o', 'a']

30.Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [71]:
l=['rohan',1,2,3,4]
l2=[i for i in l if type(i)==int]
l=l2
print(l)

[1, 2, 3, 4]

#Challenge Level:

31.Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [24]:
l1=[1,2,3,4]
l2=[5,6,7,8]


l = [[(j,i) for j in l1] for i in l2]

print(l)

[[(1, 5), (2, 5), (3, 5), (4, 5)], [(1, 6), (2, 6), (3, 6), (4, 6)], [(1, 7), (2, 7), (3, 7), (4, 7)], [(1, 8), (2, 8), (3, 8), (4, 8)]]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [25]:
l=[1,2,3,4,5,6,7,8,9,10]

mean=[sum(l)/len(l)]
print(mean)

[5.5]

35.Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [67]:
def factorial(num):
  sum=0
  s=1
  for i in range(1,num+1):
    s*=i
  for i in str(s):
    sum+=int(i)
  return sum

l=[factorial(i) for i in range(1,5+1)]
print(l)

[1, 2, 6, 6, 3]

37. Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:
sentence='helloo my name is rohannnnn'
a=sentence.split()
l=[len(i) for i in a]
index=l.index(max(l))
print('the longest element in a list is ',a[index])

the longest element in a list is  rohannnnn

38.Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension

In [39]:
string=['rohan','sohan','aniket']
l=[]

def func(name):
  count=0
  for i in name:
    if i in 'aeiou':
      count+=1
  if count>=3:
    return True

l=[i for i in string if func(i)==True]
print(l)

['aniket']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [48]:
def sumofdigit(num):
  a=str(num)
  sum=0
  for i in a :
    sum+=int(i)
  return sum

l=[sumofdigit(i) for i in range(1,1001)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [58]:
import sympy as s


def is_palindrome(num):
    num_str = str(num)
    return num_str == num_str[::-1]

def primepalindrome(num):
  if s.isprime(num) and is_palindrome(num):
    return True

l=[i for i in range(1,1000) if primepalindrome(i) if len(str(i))>1]
print(l)

[11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]